.pseudo-elements {
    width: 95%;
    align-items: center;
}

.pseudo-elements > p::after {
    content: " :) :)";
}

.first-letter-section > p::first-letter {
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: blue;
    text-decoration: line-through green;
}

.first-line-section > p::first-line {
    font-size: 1.5em;
}

.first-line-section {
    width: 80%;
}

.before-after-section > p > a:hover::before {
    content: "Matches when the user interacts with an element with a pointing device but does not necessarily activate it. It is generally triggered when the user hovers over an element with the cursor (mouse pointer).";
    position: absolute;
    top: 35px;
    bottom: 0;
    width: 25%;
    height: max-content;
    border: 2px solid;
    background-color: lightyellow;
    color: black;
    padding: 2px;
}

a.testing::after {
  background-image: url(https://static-00.iconduck.com/assets.00/external-link-icon-256x256-m5z316qp.png);
  background-size: 10px 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  content:"";
  margin-left: 2.5px;
}

.pseudo-class-section > a:hover{
    background-color: yellow;
    color: red;
}

#textInput:hover {
    background-color: green;
    color: white;
}

#checkboxInput:checked {
    /*text-decoration: line-through blueviolet;*/
    outline: 2px solid red;
}

/*input[type="radio"]:checked */
#radioInput:checked
{
    outline: 4px solid green;
}

li:nth-child(odd){
    background-color: aqua;
    border: 3px dashed black;
}

li:first-child {
    border: 2px solid purple;
}

li:last-child {
    border: 2px dotted purple;
}

li{
    width: 25%;
}