body {
  margin-left: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.progress-bar {
  width: "500 px";
  background-color: "#e0e0e0";
  border-radius: 4px;
  border: solid black;
}

.increase-button,
.reset-button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.increase-button:hover, .increase-button{
  background-color: green;
  color: white;
}
.reset-button:hover, .reset-button {
  background-color: red;
  color: white;
}

.increase-button.hovered,
.reset-button.hovered {
  transform: scale(1.1);
}